@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #EEEEE4;
}
h1, h2, h3{
  color: #920C32
}
button[type="submit"], button[type="button"] {
  background-color: #552820;
}
footer{
  background-color: #920C32;
}
.rounded-courses{
  background-color: #920C32;
  color: #ffffff;
}

/* Style de la scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #920C32; 
  border-radius: 5px;
}

.card {
  transition: transform 0.2s, box-shadow 0.2s;
  
  width: 100%;
  height: auto;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@keyframes moveInPlace {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, 5px); 
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-5px, -5px); 
  }
  100% {
    transform: translate(0, 0);
  }
}

.animated-svg {
  animation: moveInPlace 2s linear normal 
}

